{% extends 'usersite/index.html' %}
{% block title %}Change Password{% endblock title %}
{% block contents %}
<div>
        <form class="row justify-content-center" method='POST' action='' id="changepassword">
            {% csrf_token %}
            <div class="col-4 shadow-lg p-5">
                {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>{{message}}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                  {% endfor %}
            <div>
              <label for="validationDefaultPassword1" class="form-label">New password</label>
              <input type="password" class="form-control" name="password1" id="validationDefaultPassword1" required>
            </div>
            <div>
                <label for="validationDefaultPassword2" class="form-label">Conform password</label>
                <input type="password" class="form-control" name="password2" id="validationDefaultPassword2" required>
              </div>
            <div class="col-12 mt-4">
              <button id="changepassword" class="btn btn-primary" type="submit">Submit</button>
            </div>
        </div>
          </form>
</div>
{% endblock contents %}

