container_commands:
    01_migrate:
        command:"django-admin.py migrate"
        leader_only:true
    02_createsuperuser:
        command:"echo \"from adminsite.models import CustomUser; CustomUser.objects.create(email='munnassalman@gmail.com',username='admin',password='admin')\" | python manage.py createsuperuser"
        leader_only:true
option_settings:
    aws:elasticbeanstalk:application:environment:
        DJANGO_SETTINGS_MODULES:prokart.settings