container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  02_createsuperuser:
    command: "echo \"from adminsite.models import CustomUser; user=CustomUser.objects.create(username='admin', password='admin', email='admin@gmail.com', is_superuser=True)\" | python manage.py shell"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:evironment:
    DJANGO_SETTINGS_MODULE: prokart.settings

      