container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  02_createsuperuser:
    command: "echo \"from adminsite.models import CustomUser; CustomUser.objects.create_superuser(admin, password='admin', email='admin@gmail.com')\" | python manage.py shell"
    leader_only: true
option_settings:
  "aws:elasticbeanstalk:application:evironment":
    DJANGO_SETTINGS_MODULE: prokart.settings

      