option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: prokart.wsgi
  container_commands:
  01_migrate:
    command: "source python manage.py migrate --noinput"
    leader_only: true
  02_createsuperuser:
    command: "echo \"from adminsite.models import CustomUser; user = CustomUser.objects.create_superuser(username='admin',email='admin@gmail.com',password='admin'); user.save()\" | python manage.py shell"
    leader_only: true

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "prokart.settings"
    "PYTHONPATH": "/opt/python/current/app/prokart:$PYTHONPATH"
    "ALLOWED_HOSTS": ".elasticbeanstalk.com"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: prokart.wsgi
    NumProcesses: 3
    NumThreads: 20