option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: prokart.wsgi
  container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  02_superuser:
    command: "django-admin.py createsuper"
    leader_only: true
  03_collectstatic:
    command: "django-admin.py collectstatic --noinput"
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "prokart.settings"
    "PYTHONPATH": "/opt/python/current/app/prokart:$PYTHONPATH"
    "ALLOWED_HOSTS": ".elasticbeanstalk.com"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: prokart.wsgi
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "static/": "static/"