{% extends 'adminsite/index.html' %}
{% block contents %}
<h3>Edit Category</h3>
<form method='POST' action='' enctype="multipart/form-data">
    {% csrf_token %}
    <br>
    <div class='container m-5 col-6'>
    {{form.as_p}}
    <input type='submit' class='btn btn-outline-success mt-2' value='Edit'>
    <!-- Button trigger modal -->
    {% if category %}
    <button type="button" class="btn btn-danger mt-2" data-toggle="modal" data-target="#{{category.id}}">
    Delete
  </button>
  {% endif %}
    </div>
</form>

  
  <!-- Modal -->
  <div class="modal fade" id="{{category.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Do you want to delete this Product</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{product.title}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          {% if category %}
          <a href="{% url 'delete_products' category.id%}" class="btn btn-primary">Delete</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock contents %}