{% extends 'adminsite/base.html' %}
{% load static %}

{% block title %}Log IN{% endblock title %}
{% block styles %}
    
  <!-- GOOGLE FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500|Poppins:400,500,600,700|Roboto:400,500" rel="stylesheet"/>
  <link href="https://cdn.materialdesignicons.com/3.0.39/css/materialdesignicons.min.css" rel="stylesheet" />

  <!-- PLUGINS CSS STYLE -->
  <link href="{% static 'adminsite/plugins/toaster/toastr.min.css' %}" rel="stylesheet" />
  <link href="{% static 'adminsite/plugins/nprogress/nprogress.css' %}" rel="stylesheet" />
  <link href="{% static 'adminsite/plugins/flag-icons/css/flag-icon.min.css' %}" rel="stylesheet"/>
  <link href="{% static 'adminsite/plugins/jvectormap/jquery-jvectormap-2.0.3.css' %}" rel="stylesheet" />
  <link href="{% static 'adminsite/plugins/ladda/ladda.min.css' %}" rel="stylesheet" />
  <link href="{% static 'adminsite/plugins/select2/css/select2.min.css' %}" rel="stylesheet" />
  <link href="{% static 'adminsite/plugins/daterangepicker/daterangepicker.css' %}" rel="stylesheet" />

  <!-- SLEEK CSS -->
  <link id="sleek-css" rel="stylesheet" href="{% static 'adminsite/css/sleek.css' %}" />

  

  <!-- FAVICON -->
  <link href="{% static 'adminsite/static/img/favicon.png' %}" rel="shortcut icon" />

  <!--
    HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
  -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <script src="{% static 'adminsite/plugins/nprogress/nprogress.js' %}"></script>
{% endblock styles %}

 
{% block contents %}
<body class="bg-light-gray" id="body">
    <div class="container d-flex flex-column justify-content-between vh-100">
    <div class="row justify-content-center mt-5">
      <div class="col-xl-5 col-lg-6 col-md-10">
        <div class="card">
          <div class="card-header bg-primary">
            <div class="app-brand">
              <a href={% url 'admin_home' %}>
                <svg class="brand-icon" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" width="30" height="33"
                  viewBox="0 0 30 33">
                  <g fill="none" fill-rule="evenodd">
                    <path class="logo-fill-blue" fill="#7DBCFF" d="M0 4v25l8 4V0zM22 4v25l8 4V0z" />
                    <path class="logo-fill-white" fill="#FFF" d="M11 4v25l8 4V0z" />
                  </g>
                </svg>
                <span class="brand-name">Shipit Dashboard</span>
              </a>
            </div>
          </div>
          <div class="card-body p-5">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endfor %}
            {% endif %}

            <h4 class="text-dark mb-5">Sign In</h4>
            <form method='POST' name='login-form'>
              {% csrf_token %}
              <div class="row">
                <div class="form-group col-md-12 mb-4">
                  <input type="text" class="form-control input-lg" id="username" name="username" aria-describedby="emailHelp" placeholder="Username">
                </div>
                <div class="form-group col-md-12 ">
                  <input type="password" class="form-control input-lg" id="password" name="password" placeholder="Password">
                </div>
                <div class="col-md-12">
                  <button type="submit" class="btn btn-lg btn-primary btn-block mb-4">Sign In</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
      const form = document.querySelector("form[name='login-form']");
      const nameInput = document.querySelector("input[name='name']");
      const emailInput = document.querySelector("input[name='email']");
      const phoneInput = document.querySelector("input[name='phone']");
      const messageInput = document.querySelector("textarea[name='message']");

      nameInput.isValid = () => !!nameInput.value;
      emailInput.isValid = () => isValidEmail(emailInput.value);
      phoneInput.isValid = () => isValidPhone(phoneInput.value);
      messageInput.isValid = () => !!messageInput.value;

      const inputFields = [nameInput, emailInput, phoneInput, messageInput];

      const isValidEmail = (email) => {
        const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(String(email).toLowerCase());
      };

      const isValidPhone = (phone) => {
        const re = /^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/im;
        return re.test(String(phone).toLowerCase());
      };

      let shouldValidate = false;
      let isFormValid = false;

      const validateInputs = () => {
        console.log("we are here");
        if (!shouldValidate) return;

        isFormValid = true;
        inputFields.forEach((input) => {
          input.classList.remove("invalid");
          input.nextElementSibling.classList.add("fade");

          if (!input.isValid()) {
            input.classList.add("invalid");
            isFormValid = false;
            input.nextElementSibling.classList.remove("fade");
          }
        });
      };

      form.addEventListener("submit", (e) => {
        e.preventDefault();
        shouldValidate = true;
        validateInputs();
        if (isFormValid) {
          const scriptURL = 'https://script.google.com/macros/s/AKfycbwFUHe0m2Bbv0pGaVxIr29d2-GWlqEPXWIXH-98gDVjK6NKVeqD49egC4k17DHjqDlm/exec'
          const form = document.forms['submit-to-google-sheet']

          fetch(scriptURL, { method: 'POST', body: new FormData(form)})
            .then(response => console.log('Success!', response))
            .catch(error => console.error('Error!', error.message))
        }
      });

      inputFields.forEach((input) => input.addEventListener("input", validateInputs));
  </script>

{% endblock contents %}